body {
  background-color: whitesmoke;
  margin-top: 120px;
}

h1 {
  font-weight: 700;
  color: rgb(0, 81, 255);
  text-transform: capitalize;
  text-align: center;
}

p {
  font-size: 18px;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  top: 15vh;
}

.card {
  padding: 30px;
}

/*navbar*/
.navbar {
  box-shadow: 0 2px 2px 0 rgba(157, 157, 157, 0.529);  
}

.Website {
  color: rgb(0, 81, 255);
  font-weight: 500;
  font-size: 18px;
}

.K3LH-text {
  font-weight: 800;
  color: rgb(0, 81, 255);
  font-size: 18px;
}

.PDAM-text {
  font-weight: 500;
  color: rgb(0, 81, 255);
  font-size: 18px;
}

.navbar-brand img {
  margin-right: 5px;
  width: 35px;
  height: 40px;
}

li.nav-item a#navbarDropdown {
  font-weight: 500;
  color: rgb(0, 81, 255);
  text-transform: capitalize;
}

li.nav-item a#navbarDropdown:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(0, 81, 255);
  text-transform: capitalize;
}

li.nav-item a#navbar-biasa {
  color: rgb(0, 81, 255);
  font-weight: 500;
  text-transform: capitalize;
}

li.nav-item a#navbar-biasa:hover {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(0, 81, 255);
}

li.nav-item a#navbar-merah {
  color: rgb(0, 81, 255);
  font-weight: 500;
  text-transform: capitalize;
}

li.nav-item a#navbar-merah:hover {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(228, 4, 4);
}


li.nav-item a.dropdown-item {
  font-weight: 400;
  text-transform: capitalize;
}

li.nav-item a.dropdown-item:hover {
  font-weight: 400;
  background-color: rgb(0, 81, 255);
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}