body {
  background-color: rgb(0, 81, 255);
  margin-top: 100px;
}

/*navbar*/
.Website {
  color: rgb(0, 81, 255);
  font-weight: 500;
  font-size: 18px;
}

.K3LH-text {
  font-weight: 800;
  color: rgb(0, 81, 255);
  font-size: 18px;
}

.PDAM-text {
  font-weight: 500;
  color: rgb(0, 81, 255);
  font-size: 18px;
}

.navbar-brand img {
  margin-right: 5px;
  width: 35px;
  height: 40px;
}

li.nav-item a#navbarDropdown {
  font-weight: 500;
  color: rgb(0, 81, 255);
  text-transform: capitalize;
}

li.nav-item a#navbarDropdown:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(0, 81, 255);
  text-transform: capitalize;
}

li.nav-item a#navbar-biasa {
  color: rgb(0, 81, 255);
  font-weight: 500;
  text-transform: capitalize;
}

li.nav-item a#navbar-biasa:hover {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(0, 81, 255);
}

li.nav-item span.merah a#navbar-merah {
  color: rgb(0, 81, 255);
  font-weight: 500;
  text-transform: capitalize;
}

li.nav-item span.merah a#navbar-merah:hover {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(228, 4, 4);
}

li.nav-item a.dropdown-item {
  font-weight: 400;
  text-transform: capitalize;
}

li.nav-item a.dropdown-item:hover {
  font-weight: 400;
  background-color: rgb(0, 81, 255);
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
/*navbar end*/

.table {
  background-color: white;
}

th {
  text-align: center;
}

th h2 {
  font-weight: 700;
}

td {
  text-transform: capitalize;
  text-align: center;
}

td.kiri {
  text-transform: capitalize;
  text-align: left;
}

button.btn {
  width: 30%;
  float: right;
}

button.btn-info {
  margin-right: 20px;
}
