{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hasil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/hasil.css' %}" />
  </head>
  <body>
     <!--navbar-->
     <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'image/download.jpg' %}" alt="Logo PDAM Bandarmasih" title="Logo PDAM Bandarmasih"> <span class="Website">Website</span> <span class="K3LH-text">K3LH </span> <span class ="PDAM-text">PDAM Bandarmasih</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
  
                <!--navbar biasa-->
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" id="navbar-biasa" href="{% url 'serbaserbi' %}">serba-serbi K3LH</a>
                </li>
  
                <!--navbar dropdown-->
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#pendataan" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          pendataan
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'p3k' %}">Kotak P3K</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'hasil' %}">Hasil Pendataan Kotak P3K</a>
                        </li>
  
                <!--navbar biasa-->
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" id="navbar-biasa" href="{% url 'profil' %}">profil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" id="navbar-biasa" href="{% url 'login' %}">log out</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
       </div>
     <!--navbar end-->  
    
    <!--table-->
    <!--table 1-->
    <div class="container mt-auto">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th colspan="6"><h2>CEKLIST ISI KOTAK P3K</h2></th>
                </tr>
                <tr>
                    <th colspan="4">Lokasi : Ruang Direktur Utama</th>
                    <th colspan=2>Tanggal : 21 / 03 / 2021</th>
                </tr>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">NAMA BARANG</th>
                <th scope="col">SATUAN</th>
                <th scope="col">JUMLAH</th>
                <th scope="col">HASIL 
                    <br> PEMERIKSAAN</th>
                <th scope="col">KETERANGAN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="kiri">kasa steril terbungkus</td>
                <td>2</td>
                <td>bks</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">2</th>
                <td class="kiri">perban ( lebar 5 cm )</td>
                <td>20</td>
                <td>bks</td>
                <td>20</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">3</th>
                <td class="kiri">perban ( lebar 10 cm )</td>
                <td>12</td>
                <td>bks</td>
                <td>12</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">4</th>
                <td class="kiri">plester ( lebar 1.25 cm)</td>
                <td>2</td>
                <td>bks</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">5</th>
                <td class="kiri">plester cepat</td>
                <td>1</td>
                <td>ktk</td>
                <td>1<td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">6</th>
                <td class="kiri">kapas ( 25 gr)</td>
                <td>1</td>
                <td>bks</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">7</th>
                <td class="kiri">kain segitiga / mittela</td>
                <td>2</td>
                <td>bks</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">8</th>
                <td class="kiri">gunting</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">9</th>
                <td class="kiri">peniti</td>
                <td>10</td>
                <td>bh</td>
                <td>10<td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">10</th>
                <td class="kiri">sarung tangan sekali pakai</td>
                <td>5</td>
                <td>psg</td>
                <td>5</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">11</th>
                <td class="kiri">( pasangan )</td>
                <td>2</td>
                <td>bh</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">12</th>
                <td class="kiri">masker</td>
                <td>10</td>
                <td>bh</td>
                <td>10</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">13</th>
                <td class="kiri">pinset</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">14</th>
                <td class="kiri">lampu senter</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">15</th>
                <td class="kiri">glas untuk cuci muka</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">16</th>
                <td class="kiri">kantong plastik bersih</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">17</th>
                <td class="kiri">Aquades ( 100 ml lar, saline )</td>
                <td>4</td>
                <td>btl</td>
                <td>4</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">18</th>
                <td class="kiri">pavidon iodin ( 60 ml )</td>
                <td>1</td>
                <td>btl</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">19</th>
                <td class="kiri">alkohol ( 70 % )</td>
                <td>1</td>
                <td>btl</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">20</th>
                <td class="kiri">buku paduan p3K ditempat kerja</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">21</th>
                <td class="kiri">buku catatan</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <button class="btn btn-danger">Hapus</button>
        <button class="btn btn-info">Edit</button>
    </div>

<br><br><br><br><br>

    <!--table 2-->
    <div class="container mt-auto">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th colspan="6"><h2>CEKLIST ISI KOTAK P3K</h2></th>
                </tr>
                <tr>
                    <th colspan="4">Lokasi : Ruang Produksi 1</th>
                    <th colspan=2>Tanggal : 21 / 03 / 2021</th>
                </tr>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">NAMA BARANG</th>
                <th scope="col">SATUAN</th>
                <th scope="col">JUMLAH</th>
                <th scope="col">HASIL 
                    <br> PEMERIKSAAN</th>
                <th scope="col">KETERANGAN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="kiri">kasa steril terbungkus</td>
                <td>2</td>
                <td>bks</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">2</th>
                <td class="kiri">perban ( lebar 5 cm )</td>
                <td>20</td>
                <td>bks</td>
                <td>20</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">3</th>
                <td class="kiri">perban ( lebar 10 cm )</td>
                <td>12</td>
                <td>bks</td>
                <td>12</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">4</th>
                <td class="kiri">plester ( lebar 1.25 cm)</td>
                <td>2</td>
                <td>bks</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">5</th>
                <td class="kiri">plester cepat</td>
                <td>1</td>
                <td>ktk</td>
                <td>1<td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">6</th>
                <td class="kiri">kapas ( 25 gr)</td>
                <td>1</td>
                <td>bks</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">7</th>
                <td class="kiri">kain segitiga / mittela</td>
                <td>2</td>
                <td>bks</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">8</th>
                <td class="kiri">gunting</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">9</th>
                <td class="kiri">peniti</td>
                <td>10</td>
                <td>bh</td>
                <td>10<td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">10</th>
                <td class="kiri">sarung tangan sekali pakai</td>
                <td>5</td>
                <td>psg</td>
                <td>5</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">11</th>
                <td class="kiri">( pasangan )</td>
                <td>2</td>
                <td>bh</td>
                <td>2</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">12</th>
                <td class="kiri">masker</td>
                <td>10</td>
                <td>bh</td>
                <td>10</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">13</th>
                <td class="kiri">pinset</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">14</th>
                <td class="kiri">lampu senter</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">15</th>
                <td class="kiri">glas untuk cuci muka</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">16</th>
                <td class="kiri">kantong plastik bersih</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">17</th>
                <td class="kiri">Aquades ( 100 ml lar, saline )</td>
                <td>4</td>
                <td>btl</td>
                <td>4</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">18</th>
                <td class="kiri">pavidon iodin ( 60 ml )</td>
                <td>1</td>
                <td>btl</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">19</th>
                <td class="kiri">alkohol ( 70 % )</td>
                <td>1</td>
                <td>btl</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">20</th>
                <td class="kiri">buku paduan p3K ditempat kerja</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
  
              <tr>
                <th scope="row">21</th>
                <td class="kiri">buku catatan</td>
                <td>1</td>
                <td>bh</td>
                <td>1</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <button class="btn btn-danger">Hapus</button>
        <button class="btn btn-info">Edit</button>
    </div>
    <!--table end-->
    
<br><br><br><br><br><br><br>

    <!--javascript-->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  </body>
</html>
