<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/custom-style-home.css" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css" />

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Navbar Start -->
    <section id="navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand text-primary" href="#"> <img src="./pict/logo-pdam3.png" width="35" height="30" class="d-inline-block align-top" alt="Logo" />PDAM <span class="bandarmasih-text">Bandarmasih</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link text-primary" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" href="data.html">Laporan Kebocoran Pipa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" href="login.html">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-- Navbar End -->

    <!-- User Box -->

    <div class="container emp-profile">
      <form method="post">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-img">
              <img src="./pict/user-logo.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>User Name</h5>
              <h6>Staff</h6>
              <p class="proile-rating"></p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Nama</label>
                  </div>
                  <div class="col-md-6">
                    <p>User Name</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>NIK</label>
                  </div>
                  <div class="col-md-6">
                    <p>123123123</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Jabatan</label>
                  </div>
                  <div class="col-md-6">
                    <p>Staff</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>useremail@gmail.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>No Telp.</label>
                  </div>
                  <div class="col-md-6">
                    <p>123 123 123</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Alamat</label>
                  </div>
                  <div class="col-md-6">
                    <p>Jln. blablabla</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Java Script -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
  </body>
</html>
